@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;  /* Apply Inter font globally */
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-variant: lining-nums proportional-nums;
  line-height: normal;
  vertical-align: baseline;
  letter-spacing: 0.3px;
  word-spacing: 0px;
  text-transform: none;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: start;
  text-indent: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;  /* Black text color */
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

/* Ensure all text follows these styles */
* {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #000000;
}
